CellExe/bin/Debug/CellExe.exe
CellExe/bin/Debug/CellExe.exe.config
CellExe/bin/Debug/CellExe.pdb
CellExe/bin/Debug/CellExe.vshost.exe
CellExe/bin/Debug/CellExe.vshost.exe.config
CellExe/bin/Debug/CellExe.vshost.exe.manifest
CellExe/obj/Debug/CellExe.csproj.FileListAbsolute.txt
CellExe/obj/Debug/CellExe.csproj.GenerateResource.Cache
CellExe/obj/Debug/CellExe.csprojResolveAssemblyReference.cache
CellExe/obj/Debug/CellExe.exe
CellExe/obj/Debug/CellExe.Form.resources
CellExe/obj/Debug/CellExe.pdb
CellExe/obj/Debug/CellExe.Properties.Resources.resources
CellExe/obj/Debug/DesignTimeResolveAssemblyReferences.cache
CellExe/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CellExe/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CellExe/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CellExe/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
